/*csslint important:false*/

/* ==========================================================================
   Pure Base Extras
   ========================================================================== */

/**
 * Extra rules that Pure adds on top of Normalize.css
 */

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */
 
 /* Main Styles
 /*---------------------------------------------*/
 html, body{
   height:100%;
   margin: 0;
   padding: 0;
 }
 
 body {
     font: 14px/1.8em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
     color: #444;
     background: #fff;
     -webkit-font-smoothing: antialiased;
 }
 
 a, a:visited {
     text-decoration: none;
 }
 
 h1, h2, h3, h4, h5, h6 {
     color: #000;
     line-height: 1.2em;
     margin-bottom: 0.6em;
 }
 
 h1 {
     font-size: 2em;
 }
 
 h2 {
     font-size: 1.7em;
 }
 
 h3 {
     font-size: 1.5em;
     margin-top: 2em;
 }
 
 p, table {
     margin-bottom: 1em;
 }
 
 ol, ul {
     padding-left: 30px;
     margin-bottom: 1em;
 }
 
 b, strong {
     font-weight: bold;
 }
 
 i, em {
     font-style: italic;
 }
 
 u {
     text-decoration: underline;
 }
 
 abbr, acronym {
     cursor: help;
     border-bottom: 0.1em dotted;
 }
 
 td, td img {
     vertical-align: top;
 }
 
 td, th {
     border: solid 1px #999;
     padding: 0.25em 0.5em;
 }
 
 th {
     font-weight: bold;
     text-align: center;
     background: #eee;
 }
 
 sub {
     vertical-align: sub;
     font-size: smaller;
 }
 
 sup {
     vertical-align: super;
     font-size: smaller;
 }
 
 code {
     font-family: Courier, "Courier New", Monaco, Tahoma;
     background: #eee;
     color: #333;
     padding: 0px 2px;
 }
 
 pre {
     background: #eee;
     padding: 20px;
     margin-bottom: 1em;
     overflow: auto;
 }
 
 blockquote {
     font-style: italic;
     margin: 0 0 1em 15px;
     padding-left: 10px;
     border-left: 5px solid #dddddd;
 }
 

.hidden,
[hidden] {
    display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.nav-left, .nav-right{
  display: inline-block;
}

.nav-right { 
  float: right;
}
