.inner {
    width: 850px;
    margin: 0 auto;
}

#header {
    background: #c0392b;
    padding: 12px 48px;
    color: #afe1da;
}
#header a {
    color: #afe1da;
}
#header h1 a,
#header a:hover,
#header .active a {
    color: #fff;
}
#header h1 {
    font-weight: bold;
    margin: 0;
}
#header .menu-icon {
    display: none;
    width: 35px;
    height: 35px;
    background: #afe1da url(menu-icon.png) center;
}
#footer {
    background: #707070;
    padding: 60px 0;
    color: #C0C0C0;
}
#footer a { color: #ddd; }
#footer a:hover { color: #fff; }


/* FLEX STRUCTURE*/

sidebar, #content, main, main .inner{
  display: flex;
}

main .inner, #content{
  flex-direction: column;
}

main{
  justify-content: flex-start;
}

sidebar{
  display: flex;
  background: #EEE;
  min-width: 240px;
  margin-right: 48px;
}

sidebar nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
sidebar nav a {
    font-weight: bold;
    margin-left: 20px;
}

sidebar nav .menu-icon{
  margin: 10px 48px;
  height: 28px;
}

sidebar nav a:hover.menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}
sidebar nav ul {
    list-style: none;
}

#content{
  padding: 48px 0px;
  max-width: 48rem;
}

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Media Queries
/*---------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .inner {
        width: 85%;
    }
    .inner img {
        width:100%;
    }
    
    .nav-left, .nav-right{
      display: block;
      float: none;
    }
    
    #header {
        margin-bottom: 40px;
        padding: 12px 24px;
    }
    #header h1 a {
        font-size:1em;
    }
    #header .menu-icon {
        display:inline-block;
    }
    #header nav a { color: #000; }
    #header nav a:hover { color: #afe1da; }
    #header nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #444;
        right: 2.7em;
        top: 100px;
        width: 80%;
        border-radius: 4px 0 4px 4px;
        z-index: 9999;
    }
    #header nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    #header nav:hover ul {
        display: block;
    }
    
    main{
      flex-flow: column nowrap;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .inner {
        width: 85%;
    }
    .inner img {
        width:100%;
    }
    #header {
        margin-bottom: 30px;
    }
    #header h1 a {
        font-size:1em;
    }
    #header .menu-icon {
        display:inline-block;
    }
    #header nav a { color: #000; }
    #header nav a:hover { color: #afe1da; }
    #header nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #444;
        right: 0em;
        top: 100px;
        width: auto;
        border-radius: 4px 0 4px 4px;
    }
    #header nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    #header nav:hover ul {
        display: block;
    }
}
