@import './base.css';
@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  @apply border-y-[.5rem] border-smoke mt-4;
  font-size: 14px;
  border-collapse: collapse;
}

td, th { @apply p-2 text-left; }

tr {
  @apply border-b border-fog;
}

th {
  @apply border-b-2 border-smoke;
  vertical-align: bottom;
}

td {
  vertical-align: top;
}

blockquote {
  padding: 0.1rem 1rem 1rem 1rem;
  margin-top: 1rem;
  max-width: 40rem;
  @apply bg-fog dark:bg-basalt;
  border-left: 0.75rem solid #999;
}

.side-note {
  @apply right-3 m-2 block w-full border border-blue-600 bg-blue-100 p-2 text-blue-900 dark:border-smoke dark:bg-basalt dark:text-white md:sticky md:float-right md:w-80 xl:right-8;
}

.side-note h3 {
  @apply mt-0;
}

 /* region Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: all 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* endregion */