# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Python
*.py[cod]

# Sphinx
build/

# build script

publish

# node stuff

_themes/node_modules/
*.scssc
*.sassc
_themes/bower_components/*

*deploy.php
*deploy-config.php

# Django dev stuff
*.sqlite3
