
RewriteEngine On

# Map http://www.example.com to /build/html.
RewriteRule ^$ /build/html/ [L]

# Map http://www.example.com/x to /build/html/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/build/html/
RewriteRule ^(.*)$ /build/html/$1

# Add trailing slash to directories within build/html
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^build/html/(.*[^/])$ http://www.example.com/$1/ [R=301]
