/* HORIZONTAL MENU */
.menu-horizontal {
    width: 100%;
    white-space: nowrap;
}

.menu-horizontal .menu-list {
    display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.menu-horizontal .menu-item,
.menu-horizontal .menu-heading,
.menu-horizontal .menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}
