/* Submenus should still be display: block; */
.menu-item .menu-item {
    display: block;
}

.menu-children {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.menu-horizontal .menu-children {
    left: 0;
    top: auto;
    width: inherit;
}

.menu-allow-hover:hover > .menu-children,
.menu-active > .menu-children {
    display: block;
    position: absolute;
}

/* Vertical Menus - show the dropdown arrow */
.menu-has-children > .menu-link:after {
    padding-left: 0.5em;
    content: "\25B8";
    font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.menu-horizontal .menu-has-children > .menu-link:after {
    content: "\25BE";
}
