// TYPOGRAPHY
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-headers: 'Lora', serif;

$font-size-base: 1rem;

// LAYOUT
$pad-md: 1rem;

$pad-xs: calc($pad-md/4);
$pad-sm: calc($pad-md/2);
$pad-lg: 2rem;
$pad-xl: 3rem;

$sidebar-width: 14rem;
$content-padding-x: 2rem;
$content-padding-y: 1rem;

// COLORS
$color-fireball: #e74c3c;
$color-blood: #a82315;

$color-mana: #166c9c;

$color-fog: #f4f4f4;
$color-smoke: #d4d4d4;
$color-granite: #888;
$color-gray: #767676;
$color-basalt: #333;
$color-darkness: #111;
