@import 'variables';
@import 'typography';
@import 'docs';

.side-note {
  @apply right-3 m-2 block w-full border border-blue-600 bg-blue-100 p-2 text-blue-900 dark:border-smoke dark:bg-basalt dark:text-white md:sticky md:float-right md:w-80 xl:right-8;
  h3 {
    @apply mt-0;
  }
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 600px) {
  .filter-header {
    flex-direction: column;

    & > span {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .filter-wrapper {
      flex-basis: auto;
      margin-left: 0;
    }
  }
}

.filter-header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  row-gap: 0.75rem;
  border-bottom: 3px solid #e74c3c;
  padding-bottom: 0.25rem;

  .filter-header {
    border: none;
    padding-bottom: 0;
    margin-top: 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.75rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.action-block {
  .inline {
    display: inline;

    :deep(p:first-child) {
      display: inline;
    }
  }
}
