@import 'variables';
@import 'typography';
@import 'docs';

a {
  text-decoration: none;
}

.side-note {
  float: right;
  position: sticky;
  right: 10px;
  border: 1px solid $color-mana;
  background: lighten($color-mana, 60%);
  padding: $pad-md;
  width: 20rem;
  margin: 1rem;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.fiterable-table {
  width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: all 300ms ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 600px) {
  .filter-header {
    flex-direction: column;

    & > span {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    .filter-wrapper {
      flex-basis: auto;
      margin-left: 0;
    }
  }
}