@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl text-blood dark:text-white;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-sm;
}

blockquote {
  @apply bg-fog dark:bg-basalt;
}
