@import 'variables';

.aside {
  float: right;
  width: 40%;
  display: block;
  margin: 1rem 0 1rem 1rem;
  background: $color-fog;
  border: solid 1px #2980B9;
  padding: 1rem;

  &.aside-info {
    border: 1px dashed #555;
  }

  &.aside-image {
    padding: 0;
    border: solid 1px $color-smoke;
    text-align: center;

    img {
      width: 100%;
      display: block;
    }

    span {
      display: block;
      font-size: $font-size-base * .8;
      padding: 0.6rem;
      opacity: 0.6;
    }
  }

  .aside-title {
    display: block;
    background: $color-smoke;
    margin: -1rem -1rem 1rem;
    padding: 1rem;
    font-family: $font-family-headers;
  }
}