
// TYPOGRAPHY
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-headers: 'Lora', serif;

$font-size-base: 1rem;

// LAYOUT
$pad-md: 1rem;

$pad-xs: $pad-md/4;
$pad-sm: $pad-md/2;
$pad-lg: 2rem;
$pad-xl: 3rem;


// COLORS
$color-fireball: #E74C3C;
$color-blood: #a82315;

$color-fog: #f4f4f4;
$color-smoke: #d4d4d4;
$color-basalt: #333;
$color-darkness: #111;
