
// TYPOGRAPHY
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-headers: 'Lora', serif;

// LAYOUT
$pad-md: 1rem;

$pad-xs: $pad-md/4;
$pad-sm: $pad-md/2;
$pad-lg: 2rem;
$pad-xl: 3rem;


// COLORS
$color-fireball: #E74C3C;
$color-blood: #a82315;

$color-fog: rgba(0, 0, 0, 0.05);