name: Code Review

permissions:
  contents: read
  issues: write
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run ChatGPT Code Review on PR
        if: github.event_name == 'pull_request'
        uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          MODEL: gpt-4
          PROMPT:
            Check if there are any issues or likely issues in this diff. The
            project is mostly in Vue. Only highlight functional issues with the
            code, please do not suggest that people add more comments or other
            stylistic elements. We are handling that on our own. Do not explain
            how the code works unless there is a problem with it. Avoid any
            commentary that is not about problems, don't explain things that are
            not broken. If there are no issues, If there are no issues, do not
            reply at all.
          MAX_PATCH_LENGTH: 10000 # if the patch/diff length is large than MAX_PATCH_LENGTH, will be ignored and won't review. By default, with no MAX_PATCH_LENGTH set, there is also no limit for the patch/diff length.

