# PR validation script
name: PR Validation
on:
  pull_request:
    types: [opened, reopened]
  push:
    branches-ignore:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm ci
      - run: npm run build
      - run: npm run generate
      - run: npm run lint
      - run: npm run test
