# PR validation script
name: PR Validation
on:
  pull_request:
    types: [opened, reopened]
  push:
    branches-ignore:
      - staging
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm run build
      - run: npm run generate
      - run: npm run lint:ci
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npm run preview
